* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: 'Lobster', cursive;
    background-color: #f0f0f0;
    padding: 20px;
    word-break: break-word;
    word-wrap: break-all;

}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-decoration: none;
    color: #333;
}

h2 {
    text-align: left;
    color: #555;
    font-size: 36px;
}

h3 {
    text-align: left;
    color: #777;
    font-size: 25px;
}

.short-text {
    width: 1000px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.big-right {
    font-size: 900px;
    text-align: right;
    color: #333;
    margin-top: -25%;
    margin-right: 400px;
}

.image-left {
    float: left;
    width: 1000px;
    margin-top: -1150px;

}